@media  screen and (min-width: 1920px) {
    body{
        font-size: 250%;
        background-color: lightblue;
    }

}

@media screen and (max-width: 412px) {
    body {
        background-color: lightgreen;
        font-size: 70%;
    }
}